<footer class="main-footer">
	<!-- Default to the left --> 
	<strong>Ejemplo de Punto de Venta.</strong> Usando el thema <a href="http://almsaeedstudio.com/">AdminLTE</a>
	<div class="pull-right hidden-xs">
		<a href="https://github.com/mariovzc" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
    </div>
    <div class="pull-right hidden-xs">
    	<a href="https://co.linkedin.com/in/mariovizcaino/es" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
</footer>