<div class="col-md-4">
<div class="form-group">
<%= f.label :nombre %><br>
<%= f.text_field :nombre, class: 'form-control', placeholder: 'Nombre del Articulo' %>
</div>
<div class="form-group">
<%= f.label :precio %><br>
<%= f.number_field :precio, class: 'form-control', placeholder: 'Precio del Articulo' %>
</div>
</div>
